*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
:root{
    --padding-total:10px 25px;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: url("martin-adams-MpTdvXlAsVE-unsplash.jpg") no-repeat center/ cover;
    background-attachment: fixed;
}

header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}

.container{
    width: 90%;
    max-width: 1100px;
    border: 1px solid black;
}
nav{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 12px;
}
nav h2{
    font-family: "Lato" ,sans-serif;
    color: rgb(17, 77, 31);
}
nav ul {
    display: flex;
}
nav ul li{
    padding:4px 10px;
    font-size: 20px;
    font-family: "Poppins" , sans-serif;
    transition: all 0.1s ease-in;
}
nav ul li:hover{
    border-bottom:3px solid rgb(47, 118, 211);
    color: rgb(47, 118, 211);
}

.container .Home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 500px;
}

.intro-text {
   flex: 1;
   max-width: 50%;
   padding :var(--padding-total); 
}

.intro-text h2{
    font-size: 2.5rem;
    margin-bottom: 12px;
    color: #333;
}
.intro-text p{
    font-size: 1.2rem;
    line-height: 1.2;
    color: #555;
}
.intro-text p:nth-child(3){
    padding-top: 20px;
    font-weight: bold;
    font-size: 22px;
}
.home-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-image img{
    width: 300px;
    height: 300px;
    border-radius:50% ;
    border: 2px solid #cbd1d6;
    object-fit: cover;
}
/* About me section */
.About{
    border: 1px solid #333;
    padding: var(--padding-total);
    font-size: 18px;
}
.About p{
    line-height: 1.2;
    margin-bottom: 10px;
}
.About .btn{
    padding: 8px 15px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 5px;
    font-size: "Poppins" sans-serif;
    font-size: 15px;
}
.btn.resume{
    background-color: #333;
    color: #ddd;
}
.btn.contact{
    background-color: #ddd;
    color: #333;
}
.Skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: var(--padding-total);
}
.skills-icons{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.Skills i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 80px;
    height: 80px;
    font-size: 50px;
    border: 1px solid black;
    border-radius: 5px;
}
.bxl-css3 {
    color: #1572B6;
}
.bxl-css3:hover {
    color: #FFFFFF;
    background-color: #1572B6;
}

.bxl-javascript {
    color: #F7DF1E;
}
.bxl-javascript:hover {
    color: #FFFFFF;
    background-color: #F7DF1E;
}

.bxl-html5 {
    color: #E34F26;
}
.bxl-html5:hover {
    color: #FFFFFF;
    background-color: #E34F26;
}

.bxl-python {
    color: #3776AB;
}
.bxl-python:hover {
    color: #FFFFFF;
    background-color: #3776AB;
}

.bxl-react {
    color: #61DAFB;
}
.bxl-react:hover {
    color: #000000;
    background-color: #61DAFB;
}

.bxl-tailwind-css {
    color: #06B6D4;
}
.bxl-tailwind-css:hover {
    color: #FFFFFF;
    background-color: #06B6D4;
}

